html,
body {
  /* Global Variables */
  --global-width: 1200px;
  --global-width-mobile: 100;
  --background-color: #202020;
  --dark-text-color: black;
  --light-text-color: white;
  --navy-blue: #002855;
  --white: #fff;
  --orange: #e84a27;
  --footer-background: #181818;
  
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
